* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #eef;
  background-color: #13072e;
  padding: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  background-color: #eef;
  color: #13072e;
  font-size: 12pt;
}

header button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  background-color: #501dc7;
  color: #eef;
  font-size: 12pt;
  margin-left: 5px;
  cursor: pointer;
}
.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image img {
  height: 76vh;
  border-radius: 1rem;
  width: 100%;
}

.card-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 8px;
  width: 350px;
  height: 500px;
  background: linear-gradient(135deg, #13072e, #3f2182);
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 8px 8px 0 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}

.info button {
  margin-top: 60px;
  width: 300px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  background-color: #501dc7;
  color: #eef;
  font-size: 12pt;
  cursor: pointer;
}

.card h1 {
  margin-bottom: 20px;
}

.course-grid{
  display: flex;
  justify-content: space-around;
}

.container{
  padding: 2rem;
  border-radius: 1rem;
  background-color: #501dc7;
  width: 500px;
  height: 69vh;
}

.list-class{
  border-radius: 10px;
  background-color: #13072e;
  padding: 10px;
  margin-top: 10px;
  list-style: none;
  cursor: pointer;
}

.line{
  outline: 1px solid #251150 ;
}

.progress-bar{
  margin-top: 10px;
  list-style: none;
  height: 5px;
  background-color: #eef;
  border-radius: 20px;
}

.percent-number span{
  margin-top: 5px;
}
